.mainContent {
  background-color: #fffefa;
  color: #181818;
}

.mainContent h1 {
  color: #f8a61b;
  /* font-size: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContent p {
  /* font-size: 20px; */
  margin: 10px 3vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.box {
  border-style: solid;
  border-width: 2px;
  border-color: #f8a61b;
  height: 50vh;
  width: 70vw;
  margin: auto;
}
