/* Card.css */

/* App.css */
.app {
  text-align: center;
  padding: 20px;
  background-color: #fffefa;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.card-item {
  z-index: 1;
  display: flex;
  align-items: center;
  overflow: clip;
  width: 350px;
  /* min-height: 160px; */
  height: 240px !important;
  padding: 20px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  position: relative;
  transition: transform 150ms ease-in-out; /* Removed transition for background */
}

.card-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: hsla(0, 0%, 9%, 0.5);
  transition: background 150ms ease-in-out; /* Added transition for background */
}
.card-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(24, 24, 24, 0.1);
  &.card-item:before {
    background: hsla(0, 0%, 9%, 0.25);
  }
}

.card-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  text-decoration: solid;
}

.card-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  filter: blur(2px) saturate(60%);
}

.card-content {
  height: 180px;
  color: #fffefa;
  text-align: start;
  display: block;
  overflow: hidden;
  z-index: 2;
  & h3 {
    display: block;
    height: 65px;
    overflow: clip;
    margin: 20px 0;
  }
  & span {
    display: flex;
    align-items: center;
    font-size: 1rem;
    & img {
      border-radius: 50%;
      height: 2rem;
      margin-right: 10px;
    }
  }
  & p {
    font-size: 1rem;
    margin: 0;
  }
}

.scroll-indicator {
  position: absolute;
  bottom: 5px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  cursor: pointer;
}
.competition-section,
.event-section {
  width: 100%;
  align-items: center;
}
.competition-header,
.event-header {
  text-align: center;
  margin-bottom: 20px;
}

.event-header {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.NutShowMore {
  color: #181818 !important;
  padding: 10px 20px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  cursor: pointer;
}
.show-more-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}
