/* @import "~bootstrap/dist/css/bootstrap.min.css"; */

.Champcontainer {
  width: 80vw;
  max-width: 950px;
  height: 50%;
  max-height: 450px;
  display: grid;
  background-color: #f8a61b;
  padding: 0;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.champCardMain {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffefa;
}

.name-list {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  font-size: 1.5rem;
  border: #f8a61b 2px solid;
  border-right: 0;
  border-radius: 5px;
}

button .team-card {
  height: 20%;
  width: 100%;
  gap: 0px;
}

.card-name {
  background-color: #fffefa;
  color: #f8a61b;
  text-align: left;
  border: none;
  padding: 0 10px;
  transition: background 150ms;
}

.card-name&#i0 {
  border-radius: 3px 0 0 0;
}

.card-name&#i4 {
  border-radius: 0 0 0 3px;
}

.hidden-name {
  background: none;
  color: #fffefa;
  transition: background 150ms, color 150ms;
}

.carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
  max-height: 450px;
}

.carousel .img-fluid {
  height: 100%;
  max-height: 450px;
  width: 100%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: drop-shadow(0px 0px 1.5px #54524e) contrast(200%);
}

.hidden {
  display: none !important;
}

.slider {
  /* height: 100%; */
  max-height: 450px;
  position: relative;
  right: 0;
  border-radius: 0 5px 5px 0;
  overflow: hidden;
  filter: drop-shadow(0px 0px 2px #817f7b);
}

.curtain {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  opacity: 80%;
  width: 100%;
  height: 100%;
  background-color: #181818;
  color: #f8a61b;
  text-align: center;
  padding: 50px 10px;
  transform: translateY(100%);
  transition: all 300ms ease-in;
}

.curtain[clicked="true"] {
  visibility: visible;
  transform: translateY(0%);
  transition: all 300ms ease-out;
}

.curtain .content {
  padding-top: 5%;
  vertical-align: middle;
  margin: 0;
}

.curtain-form {
  display: block;
  position: absolute;
  right: 4%;
  top: 5%;
  width: 4%;
  z-index: 8;
  cursor: pointer;
}

.curtain-form .icon-trophy {
  width: 100%;
  filter: drop-shadow(0px 0px 5px #5c5a57) contrast(150%);
}

.champ-tabs {
  display: none;
}

@media (max-width: 950px) {
  .Champcontainer {
    display: block;
    max-height: none;
  }

  .slider {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 0 0 5px 5px;
    overflow: clip;
    height: auto;
    max-height: 450px;
  }

  .carousel-inner,
  .carousel-item {
    height: 100%;
  }

  .carousel img {
    width: 100%;
    overflow: hidden;
  }

  .card-name {
    padding: 0 5px;
  }

  .card-name&#i0 {
    border-radius: 3px 0 0 0;
  }

  .card-name&#i4 {
    border-radius: 0 3px 0 0;
  }

  .champ-tabs {
    border: #f8a61b 2px solid;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    display: block;
    width: 100%;
  }

  .champ-tabs button {
    width: 20%;
    height: 50px;
  }

  .champ-tabs .card-name {
    text-align: center;
  }

  .name-list {
    display: none;
  }
}