.filter-box {
  border: 1px #dddfe2 solid;
  border-radius: 3px;
  width: 120px;
  padding: 10px;
  color: #181818;
  & .btn-div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    vertical-align: baseline;
  }
}
