.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .head-text {
    font-size: 1.4rem;
    color: #181818;
  }
  
  .logos {
    display: flex;
    width: 150px;
    justify-content: space-between;
    padding: 20px;
  }
  
  .address {
    width: 280px;
    color: #181818;
  }
  
  .copyright {
    text-align: center;
    background-color: #12294c;
    color: #fffefa;
    padding: 15px;
    font-size: 0.8rem;
  }