.main {
  background-color: #fffefa;
  margin: 0 30px;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  width: 100%;
}


.hero-text {
  padding: 0;
  margin: 0;
}

.GreetingTile {
  font-size: 80px;
  color: #f8a61b;
  margin: 0;
  height:100px;
  width:50%;
  display:initial;
}

.PageContent {
  display:block;
  font-size: 50px;
  color: #181818;
  margin: 30px 0;
  max-width: 700px;
  margin:0 0 30px 0;
}

.image {
  padding: 0;
  margin: 0;
}

.image .imageContent {
  height: 600px;
}

.button-container {
  margin: 0;
}

.button-container button {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 30px;
  padding: 15px 10px;
  background: 0;
  border-radius: 0.5rem;
  text-align: center;
}

.button1 {
  border: 3px #0a71ba solid;
  color: #0a71ba;
  transition: color 150ms ease-in-out, background 150ms ease-in-out;
}

.button1:hover {
  background: #0a71ba;
  color: #fffefa;
}

.button2 {
  border: 3px #f8a61b solid;
  background: #f8a61b;
  color: #f8a61b;
  transition: color 150ms ease-in-out, background 150ms ease-in-out;
}

.button2:hover {
  background: #f8a61b;
  color: #fefefa;
}

.button3 {
  border: 3px #181818 solid;
  color: #181818;
  transition: color 150ms ease-in-out, background 150ms ease-in-out;
}

.button3:hover {
  background: #181818;
  color: #fffefa;
}

@media (max-width: 1050px) {
  .image {
    display: none;
  }
  .hero-text{
    width: 100%;
  }
}

@media (max-width:650px) {
  .button-container button{
    height: 70px;
    width: 40%;
    font-size: 16px;
  }
  .GreetingTile{
    font-size: 60px;
  }
  .PageContent{
    font-size: 30px;
  }
}

@media (max-width:450px) {
  .button-container button{
    height: 70px;
    width: 60%;
    font-size: 15px;
  }
  .GreetingTile{
    font-size: 50px;
  }
  .PageContent{
    font-size: 20px;
  }
}
