.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.inputContainer > * {
  margin-bottom: 10px;
}

/* .button {
  margin: 10px 0;
  width: 300px;
  font-size: 20px;
} */

.inputPass {
  display: block;
  width: 100%;
  padding: 5px 4px;
  border: 1px #dddfe2 solid;
  border-radius: 5px;
}

.logout {
  display: block;
  background: none;
  color: #f8a61b;
  border: #f8a61b solid 2px;
  border-radius: 5px;
  padding: 10px;
}

/* .button,
.submit {
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #f8a61b;
  color: #fffefa;
} */

.p {
  text-align: center;
}

.img {
  margin-bottom: 20px;
}


.btn{
  font-weight: 900;
  border: 1px solid #f8a61b;
  background: none;
  padding: 10px 20px;
  width: 300px;
  font-size: 20px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  color: #fff;
  z-index: 1;
}
  
.btn:hover{
  color: #f8a61b;
  }
  
.btn::before{ /* This use to insert the content before elements*/
  content:"";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%; 
  background: #f8a61b;
  z-index: -1;
  transition: 0.8s;
  bottom: 0;
  border-radius: 50% 50% 0 0;
  height: 180%;
}
  
.btn:hover::before{
  height: 0%;
}