
.container {
    margin: auto;
    position: relative;
}

.button {
    left: 20%;
    margin-left: 25%;
    margin-bottom: 5%;
}

.logout {
    background: rgb(0, 0, 0);
    color: #FFF;
    display: block;
    margin: 10% 40%;
}

.p {
    text-align: center;
}

.img {
    margin-bottom: 5%;
}

.inputPass {
    display: block;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 3%;
}

.submit {
    margin-left: 40%;
}