/* IMPORTANT: THIS FILE IS USE FOR BOTH RESET EMAIL AND RESET PASSWORD (UPDATE: ALSO USED FOR FORGOTPASSWORD PAGE)
  IT IS USED FOR THE 2 BOTTOM BUTTONS OF THESE 2 PAGES, ADJUSMENT AFFECTS TO THE
  2 BUTTONS IN 2 FILE
  CHECK THE BOTH PAGES WHEN EDITING
*/

.h1{
  color: #f8a61b;
}
.btn{
    border-radius: 5px;
    font-weight: 900;
    border: 1px solid #f8a61b;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    color: #fff;
    z-index: 1;
    width: 230px;
  }
    
  .btn:hover{
    color: #f8a61b;
    }
    
  .btn::before{ /* This use to insert the content before elements*/
    content:"";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%; 
    background: #f8a61b;
    z-index: -1;
    transition: 0.8s;
    bottom: 0;
    border-radius: 50% 50% 0 0;
    height: 180%;
  }
    
  .btn:hover::before{
    height: 0%;
  }

  @media screen and (max-width: 750px) {
    .btn{
      font-size: 0.9rem;
      width: 150px;
      height: 50px;
      padding: 0 0;
      margin-bottom: 5px;
    }
  }