.divTable{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* This use separate the table and the 2 buttons below*/
  overflow-x: auto;
}
.mainTable {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  overflow-x: auto;
}

.mainTable td, .mainTable th {
  padding: 15px;
  text-align: center;
  border: 1px solid black; 
}

.tableHeading{
  background-color: #f8a61b ;
  color: white;
  font-size: 30px;
  font-weight: 900;
}

.mainTable td{
  font-size: 1.2rem;
}

.tableRow:hover{
  background-color: #f2f2f2;
}

.mainTable td:nth-child(2),
.mainTable th:nth-child(2) {
 /* This use to edit the heading and data of column "Competition name" */
  width: 400px;
}

.imageTable {
  width: 100px; 
  height: auto;
  vertical-align: middle;
  border-radius: 10%;
}

.btnUpdate,
.btnDelete{
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background: none;
  transition: background 200ms linear;
  font-size: 1.2rem;
}

.btnUpdate{
  margin-right: 10px;
}
.btnUpdate:hover,
.btnDelete:hover{
  background-color: #f8a61b;
  color: #fff;
}

@media screen and (max-width: 750px) {
  .table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .btnUpdate,
  .btnDelete{
    font-size: 1rem;
    padding: 0.3rem 0.8rem; 
  }

  .btnUpdate{
    margin-bottom: 15px;
  }
  .mainTable td:nth-child(2),
  .mainTable th:nth-child(2) {
  /* This use to edit the heading and data of column "Competition name" */
    width: 200px;
  }

}

