.welcomeMain {
  height: 66vh;
  background-color: #fffefa;
  padding: 20px 0;
}

.welcomeTitle {
  color: #f8a61b;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  width: 650px;
  font-size: 20px;
}

.logo {
  height: 240px;
  width: 200px;
  float: right;
}
