.welcomeMain {
  height: 100%;
  background-color: #fffefa;
  padding: 20px 0;
  margin: 0 10vw;
}

.welcomeTitle {
  color: #f8a61b;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  text-align: center;
  margin: 0;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  width: 50vw;
  font-size: 20px;
}

.logo {
  height: 240px;
  width: 200px;
  float: right;
}

@media (max-width: 750px) {
  .mainContent {
    flex-direction: column;
  }

  .textContainer {
    width: 100%;
  }
}
